<% if user_signed_in? %>
	<div class="jumbotron">
		<h1>Welcome to the BLOG, <%= current_user.email %> !</h1>
	</div>
<% else %>
	<div class="jumbotron">
	  	<h1>Hello, Welcome to the BLOG ! </h1>
	</div>
<% end %>

<hr/ >
	To visit the blog, 
	<%= link_to 'click here', controller: 'articles' %>
<hr/ >

